<ul>
	<li>Tokyo</li>
	<li>Manille</li>
	<li>Shanghai</li>
	<li>Rome</li>
	<li>Paris</li>
	<li>Munich</li>
	<li>Marseille</li>
	<li>Lyon</li>
	<li>Poitiers</li>
	<li>Londres</li>
	<li>Madrid</li>
	<li>New York</li>
	<li>Naples</li>
	<li>Sydney</li>
	<li>Melbourne</li>
	<li>Brisbane</li>
	<li>Le Caire</li>
	<li>Lagos</li>
	<li>Kinshasa</li>
	<li>Bordeaux</li>
</ul>
